* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Sans serif;
}

h2 {
  font-size: 2em;
}

.nav-bar {
  box-sizing: border-box;
  background: #C12127;
  color: rgba(255,255,255,0.8);
  padding: 15px 50px;
  height: 100px;
  line-height: 70px;
}

.nav-bar a {
  text-decoration: none;
  color: rgba(255,255,255,0.8);;
}

.top-left {
  float: left;
}

.top-links {
  display: inline-block;
  float: right;
  margin-left: 20px;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.header {
  position: relative;
  background: url("images/city-scape.svg");
  background-size: cover;
  color: #fff;
  padding: 5px 30px;
}

.header-topbar {
  box-sizing: border-box;
  height: 80px;
  line-height: 80px;
  width: 100%;
}

.header-topbar-logo {
  box-sizing: border-box;
  width: 8%;
  margin: 15px 0;
  float: left;
}

.search-bar {
  box-sizing: border-box;
  background: rgb(31, 82, 111);
  width: 100%;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  display: inline;
}

.search-wrapper {
  box-sizing: border-box;
  width: 74%;
  display: inline-block;
  position: relative;
  padding: 0 20px;
}

.search-label {
  padding: 0 15px;
  line-height: 50px;
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 20px;
  color: #fff;
  border-left: 1px solid rgba(255, 255, 255, .2); 
}

.header-topbar-right {
  box-sizing: border-box;
  float: right;
  width: 18%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.header-topbar-right a {
  color: #fff;
  text-decoration: none;
}

.header-topbar-right span {
  box-sizing: border-box;
  padding-right: 15px;
  width: 75%;
}

.header-topbar-img {
  width: 25%;
}

.header-content {
  margin: 0 auto;
  width: 50%;
  padding-top: 80px;
}

.header-content h1 {
  display: block;
  width: 100%;
}

.header-text {
  width: 55%;
  display: block;
}

.header-bold-img {
  width: 50%;
}

.clearfix {
  clear: both;
}

.header h1 {
  float: left;
  margin-bottom: 30px;;
}

.btn {
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
}

.header-btn {
  clear: left;
  background: rgb(240, 146, 51);
  margin: 50px 0 80px 0;  
}

#orgs {
  padding:80px 15%;
  background: rgb(39, 53, 71);
  color: #fff;
}

.orgs-bold-img {
  width: 50%;
}

.orgs-content {
  width: 45%;
  float: right;
}

.orgs-content h2 {
  margin-bottom: 50px;
}

.orgs-content ul {
  margin-left: 30px;
}

.orgs-content li {
  margin-bottom: 15px;
}

.orgs-btn {
  background: rgb(203, 56, 55);
  margin: 20px 0 10px 0;
  display: inline-block;
}

.orgs-learn-more {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: .9em;
}

#install {
  background-image: url("images/forklift.svg");
  background-size: cover;
  padding: 30px 15%;
  margin: 0 auto;
  position: relative;
  height: 500px;
  color: #fff;
}

.install-content {
  position: absolute;
  width: 25%;
  top: 120px
}

.install-content h2 {
  margin-bottom: 30px;
}

.install-btn {
  background: rgb(49, 68, 88);
  margin-top: 50px;
}

#features {
  padding: 30px;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.features-head {
  margin: 0 auto;
  text-align: center;
  color: rgb(83, 88, 98);
}

.features-head h3 {
  margin-bottom: 20px;
  font-size: 2em;
}

.features-item h4 {
  margin: 15px 0;
}

.features-boxes {
  width: 100%;
  margin: 0 auto;
}

.features-item {
  box-sizing: border-box;
  margin-top: 20px;
  width: 30%;
  float: left;
  text-align: center;
  padding: 30px 30px;
  color: rgb(135, 145, 156);
}

.middle-col {
  margin: 0 5%;
}

.feature-item-text {
  line-height: 1.5;
  width: 70%;
  margin: 0 auto;
}

.red {
  color: rgb(208, 74, 73);
}